@import "tailwindcss";

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@theme {
  --breakpoint-xs: 30rem;
}

.animate-scroll {
  animation: scroll 60s linear infinite;
}

/* Optional: Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
* {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.no-scrollbar {
  scroll-behavior: auto;
}

/* .line-clamp-6 {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
} */

/* .line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
} */
